# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: OpenVINO - Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # install PyTorch CPU version to avoid installing CUDA packages on GitHub runner without GPU
        pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
        pip install .[openvino,nncf,tests,diffusers]
    - name: Test with Pytest
      run: |
        pytest tests/openvino/test_modeling.py
        pytest tests/openvino/test_quantization.py
        pytest tests/openvino/test_stable_diffusion.py
        pytest tests/openvino/test_training_examples.py
        pytest tests/openvino/test_training.py
