# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: Intel Neural Compressor - Test

on:
  push:
    branches:
      - main
      - v*-release
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cmake
        pip install py-cpuinfo
        pip install torch==2.3.0 torchaudio==2.3.0 torchvision==0.18 --index-url https://download.pytorch.org/whl/cpu
        pip install .[neural-compressor,diffusers,tests]
        pip install intel-extension-for-transformers
        pip install peft

    - name: Test with Pytest
      run: |
        pytest tests/neural_compressor/ --ignore tests/neural_compressor/test_ipex.py --durations=0
    - name: Test IPEX
      run: |
        pip uninstall -y intel-extension-for-transformers
        pip install intel-extension-for-pytorch==2.3.0
        pytest tests/neural_compressor/test_ipex.py

