name: OpenVINO - Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - v*-release
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  TRANSFORMERS_IS_CI: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        test-pattern:
          [
            "*export*",
            "*decoder*",
            "*seq2seq*",
            "*modeling*",
            "*diffusion*",
            "*quantization*",
          ]
        transformers-version: ["4.36.0", "latest"]

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[openvino,diffusers,tests]

      - if: ${{ matrix.transformers-version != 'latest' }}
        name: Install specific dependencies and versions required for older transformers
        run: |
          pip install transformers==${{ matrix.transformers-version }} accelerate==0.* peft==0.13.* diffusers==0.30.* transformers_stream_generator

      - if: ${{ matrix.transformers-version == 'latest' && matrix.test-pattern == '*decoder*'}}
        name: Install auto-gptq, autoawq
        run: |
          pip install auto-gptq "autoawq<0.2.8" --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Test with Pytest
        run: |
          pytest tests/openvino/${{ matrix.test-pattern }} --durations=0
        env:
          HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}

      - if: ${{ matrix.test-pattern == '*modeling*' }}
        name: Install Nightly OpenVINO
        run: |
          pip install --upgrade --pre openvino openvino-tokenizers --extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly

      - if: ${{ matrix.test-pattern == '*modeling*' }}
        name: Test with Pytest - Nightly OpenVINO
        run: |
          pytest tests/openvino/test_modeling_basic.py --durations=0
        env:
          HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
