name: OpenVINO - Slow Test

on:
  workflow_dispatch:
  schedule:
    - cron: "41 1 * * *" # run every day at 1:41
  push:
    branches:
      - v*-release
  pull_request:
    types:
      - opened
      - labeled
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  TRANSFORMERS_IS_CI: true

jobs:
  build:
    if: ${{ (github.event_name == 'workflow_dispatch') || (github.event_name == 'schedule') ||  (github.event_name == 'push') || contains( github.event.pull_request.labels.*.name, 'openvino-slow') }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04", "windows-2022"]
        transformers-version: ["4.36.0", "latest"]
        include:
          - transformers-version: "4.40.0"
            os: "ubuntu-22.04"
          - transformers-version: "4.45.0"
            os: "ubuntu-22.04"
          - transformers-version: "main"
            os: "ubuntu-22.04"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Free Disk Space (Ubuntu)
        if: matrix.runs-on == 'ubuntu-22.04'
        uses: jlumbroso/free-disk-space@main

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[openvino,tests,diffusers] transformers[testing]
          pip uninstall -y nncf

      - if: ${{ matrix.transformers-version != 'latest' && matrix.transformers-version != 'main' }}
        name: Install specific dependencies and versions required for older transformers
        run: pip install transformers==${{ matrix.transformers-version }} accelerate==0.* peft==0.13.*, diffusers==0.30.* transformers_stream_generator

      - if: ${{ matrix.transformers-version == 'latest' && matrix.os != 'windows-2022' ||  matrix.transformers-version == 'main' }}
        name: Install auto-gptq, autoawq
        run: |
          pip install auto-gptq "autoawq<0.2.8" --extra-index-url https://download.pytorch.org/whl/cpu

      - if: ${{ matrix.transformers-version == 'main' }}
        name: Install transformers from repository
        run: pip install git+https://github.com/huggingface/transformers.git

      - name: Pip freeze
        run: pip freeze

      - name: Test with Pytest (basic)
        run: |
          pytest tests/openvino/test_modeling_basic.py

      - name: Install dependencies (slow)
        run: |
          pip install .[nncf]

      - name: Test with Pytest (slow)
        run: |
          pytest tests/openvino -m "run_slow" --durations=0
        env:
          RUN_SLOW: 1
          HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
