name: OpenVINO - Full Test

on:
  workflow_dispatch:
  schedule:
    - cron: "41 3 * * *" # run every day at 3:41
  push:
    branches:
      - v*-release
  pull_request:
    types: [opened, synchronize, reopened, labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  TRANSFORMERS_IS_CI: true

jobs:
  build:
    if: ${{ (github.event_name == 'workflow_dispatch') || (github.event_name == 'schedule') ||  (github.event_name == 'push') || contains( github.event.pull_request.labels.*.name, 'openvino-test') }}
    strategy:
      fail-fast: false
      matrix:
        nncf: ["nncf-stable", "nncf-develop"]
        openvino: ["ov-stable", "ov-nightly"]
        transformers-version: ["latest"]

    runs-on: ubuntu-22.04

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Install PyTorch CPU to prevent unnecessary downloading/installing of CUDA packages
          pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[tests,diffusers]

      - name: Install openvino-nightly
        if: ${{ matrix.openvino == 'ov-nightly' }}
        run: pip install --pre -U openvino openvino-tokenizers --extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly

      - name: Install openvino release
        if: ${{ matrix.openvino == 'ov-stable' }}
        run: pip install .[openvino]

      - name: Install nncf develop
        if: ${{ matrix.nncf == 'nncf-develop' }}
        run: pip install git+https://github.com/openvinotoolkit/nncf.git

      - name: Install nncf release
        if: ${{ matrix.nncf == 'nncf-stable' }}
        run: pip install .[nncf]

      - name: Install the lowest compatible transformers version
        if: ${{ matrix.transformers-version != 'latest' }}
        run: pip install transformers==${{ matrix.transformers-version }}

      - if: ${{ matrix.transformers-version == 'latest' }}
        name: Install auto-gptq, autoawq
        run: |
          pip install auto-gptq "autoawq<0.2.8" --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Pip freeze
        run: pip freeze

      - name: OpenVINO tests
        run: pytest tests/openvino --durations=0
        env:
          RUN_SLOW: 1
          HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
